# .gitignore for AutoMinecraft project

#################################################################
# Ignores for Neural Network
#################################################################

__pycache__/
*.pyc
*.png

#################################################################
# Ignores for Mod Development Environment
#################################################################

# handled in "mod_dev/.gitignore"

#################################################################
# Ignores for Sever
#################################################################

server/
