# .gitignore for AutoMinecraft project

#################################################################
# Ignores for Neural Network
#################################################################

__pycache__/
*.pyc

#################################################################
# Ignores for Mod Development Environment
#################################################################

# handled in "mod_dev/.gitignore"
