# .gitignore for AutoMinecraft project

#################################################################
# Ignores for Neural Network
#################################################################


neural_network/**/*.pyc
neural_network/**/*.png
neural_network/**/__pycache__/
neural_network/venv
neural_network/**/*.h5
neural_network/**/*.keras

#################################################################
# Ignores for Mod Development Environment
#################################################################

# handled in "mod_dev/.gitignore"

#################################################################
# Ignores for Sever
#################################################################

server/
